body {
    display: flexbox;
    flex-wrap: wrap;
    background-color: rgb(184, 182, 180);

}

.card-img-top {
    object-fit: cover;
    height: 200px;
    width: 200px;
    border-radius: 10px !important;
}

.list {
    width: 400px;
    border: 2px solid black;
    display: inline-block;
    margin: 5px;
}


li {
    margin: 15px;
}

button {
    border-radius: 7px;
    margin-left: 5px;
}

a {
    text-decoration: none;
}

.navbar {
    background-color: rgb(229, 220, 210);
    height: 5rem;
}

.airbnbIcon {
    color: red;
    font-size: 40px;
}

.airbnbIcon+.navbar-brand {
    color: red;
    font-weight: 500;
}

.footer {
    justify-items: center;
    align-content: center;
    background-color: rgb(14, 14, 14);
    color: white;
    /* margin-bottom: 0px; */
    height: 300px;
}

i {
    display: inline-block;
    margin: 10px;
}

.card {

    margin: 20px 0px 0px 0px;
    border: none !important;
}

.card-title {
    font-weight: 500;
}

.homeContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0px;
    /* margin-top: 40px; */
}

.formContainer,
.editContainer {
    margin: 37px 0px;
}

.listing-link {
    text-decoration: none;
    /* display: inline-block;
   margin: 10px 16px; */
}

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.3;
    background-color: white;
}

.show-img {
    height: 400px;
}

.btn-review-form-container {
    display: flex;
    justify-content: space-between;
}

hr {
    margin: 40px 0px !important;
}

.btn-review {
    width: 400px;
    margin-bottom: 20px;
}

.edit-btn,
.delete-btn,
.post-btn,
.review-delete {
    border-radius: 15px !important;
}

.reviewTextarea,
.reviewInput {
    border-radius: 15px !important;
}

.show-review {
    background-color: rgb(245, 245, 245);
    border-radius: 30px;
    margin-top: 20px;
    padding: 20px;
}

.reviewDelete {
    display: inline !important;
}

#reviewUsername {
    display: inline-block;
}

.reviewForm {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.createReview {
    height: 40px;
    align-self: center;
    margin: 0px 0px -10px 10px;
}

.errorContainer {
    height: 90vh;
}

/* .errorContainer .row{
    margin: 100px auto;
} */
/* .alert{
    height: 200px;
} */


/* Authentication and Authorization styling */

.login_Page,
.sighUp_Page {
    height: 500px;
}

.login_Page,
.sighUp_Page form {
    margin: 100px auto;
}

/* leaflet map styling */
#map {
     height: 400px;
    /* width: 450px; */

    margin-top: 30px;
    margin-bottom: 30px;

    /* #map { position: absolute; top: 0; bottom: 0; width: 100%; } */

     border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.434);

   /* z-index: 0;*/
    border: 1px solid black; 
}